@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@500;600;700&display=swap');
@import 'variaveis.scss';
//HTML RESET
html,
body {
    margin: 0;
    padding: 0;
    background-color: $cor-fundo;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;
    &-center {
        justify-content: center;
        align-items: center;
    }
}